@model IEnumerable<EmPeka.Frontend.Models.StopModel>
@{
    ViewData["Title"] = "Lista przystanków";
}
<div class="container-fluid px-2">
    <h2 class="mb-3">Lista przystanków</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <thead class="table-dark">
                <tr>
                    <th class="text-nowrap">Nazwa</th>
                    <th class="text-nowrap">Kod</th>
                </tr>
            </thead>
            <tbody>
            @foreach (var stop in Model)
            {
                <tr>
                    <td class="text-break">@stop.StopName</td>
                    <td class="text-nowrap">@stop.StopCode</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>